@namespace Coursework.Components
@inject NavigationManager NavigationManager

<div class="nav-menu">
    <nav>
        <ul>
            @if (NavigationManager.Uri != NavigationManager.BaseUri)  
             { 
                <!-- Link to the dashboard page -->
                <li><NavLink href="/dashboard" class="nav-link">Back</NavLink></li>
             } 
        </ul>
    </nav>
</div>

<style>
    .nav-menu ul {
        list-style-type: none;
        padding: 0; 
        margin: 0; 
    }

    .nav-menu li {
        margin: 0.5rem 0; 
    }

    .nav-menu .nav-link {
        text-decoration: none; /* Removes underline */
        color: green;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 26px;
    }

    .nav-menu .nav-link:hover {
        background-color: #0078d4; /* Highlight color */
        color: white; /* Hover text color */
    }
</style>
